# Ignore build output
dist/

# Ignore dependencies
node_modules/

# Ignore TypeScript configuration files
tsconfig.json
tsconfig.*.json

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore out directory
out/
